# Fluxer Bot Token (required)
BOT_TOKEN=

# Redis connection string
REDIS_URI=redis://redis:6379

# HTTP port
PORT=4001

# Bot command prefix
COMMAND_PREFIX=.

# Bot presence text
BOT_PRESENCE=you <3

# Bot presence type (0=online, 1=dnd, 2=idle, 3=invisible, 4=offline)
BOT_PRESENCE_TYPE=0